<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Xero-AI Test Invoice</title>

	<style>
		.invoice-box {
			color: #555;
			font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			font-size: 12px;
			line-height: 20px;
			margin: auto;
			max-width: 800px;
			padding: 20px;
		}

		.invoice-box table {
			width: 100%;
			line-height: inherit;
			text-align: left;
			padding-bottom: 20px;
		}

		.invoice-box table td {
			padding: 5px;
			vertical-align: top;
		}

		.invoice-box table tr td:nth-child(2) {
			text-align: right;
		}

		.invoice-box table tr td:nth-child(3) {
			text-align: right;
		}

		.invoice-box table tr td:nth-child(4) {
			text-align: right;
		}

		.invoice-box table tr.top table td {
			padding-bottom: 20px;
		}

		.invoice-box table tr.top table td.title {
			font-size: 18px;
			line-height: 22px;
			color: #333;
		}

		.invoice-box table tr.information table td {
			text-align: left;
		}

		.invoice-box table tr.heading td {
			background: #eee;
			border-bottom: 1px solid #ddd;
			font-weight: bold;
		}

		.invoice-box table tr.details td {
			padding-bottom: 20px;
		}

		.invoice-box table tr.item td {
			border-bottom: 1px solid #eee;
		}

		.invoice-box table tr.subtotal td {
			border-bottom: 1px solid #eee;
			font-weight: bold;
			text-align: right;
		}

		.invoice-box table tr.total td {
			background: #eee;
			font-weight: bold;
			text-align: right;
		}

		@page {
			size: Letter;
			margin: 0;
		}

		section {
			page-break-after: always;
			break-after: page;
		}

		@media print (max-width: 600px) {
			.invoice-box table tr.top table td {
				width: 100%;
				display: block;
				text-align: center;
			}

			.invoice-box table tr.information table td {
				width: 100%;
				display: block;
				text-align: center;
			}
		}
	</style>
</head>

<body>
	<div class="invoice-box">
		<table cellpadding="0" cellspacing="0">
			<tr class="top">
				<td colspan="2">
					<table>
						<tr>
							<td class="title">
								<img src="https://sparksuite.github.io/simple-html-invoice-template/images/logo.png"
									style="width: 300px; height: 100px; object-fit: contain;" />
							</td>

							<td>
								<b>Invoice #: {{ invoice_number }}</b><br />
								Issue Date: {{ issue_date }}<br />
								Due Date: {{ due_date }}
							</td>
						</tr>
					</table>
				</td>
			</tr>

			<tr class="information">
				<td colspan="2">
					<table>
						<tr>

							<td>
								<b>Supplier</b><br />
								{{ supplier.company_name }}<br />
								{{ supplier.address_billing.address_line1 }}, {{ supplier.address_billing.address_line2 }}<br />
								{{ supplier.address_billing.city }}, {{ supplier.address_billing.province }} {{
								supplier.address_billing.postal_code }}<br />
								{{ supplier.website }}<br />
								{{ supplier.email }}<br />
								{{ supplier.phone_number }}<br />
							</td>

							<td>
								<b>Customer</b><br />
								{{ customer.company_name }}<br />
								{{ customer.address_billing.address_line1 }}, {{ customer.address_billing.address_line2 }}<br />
								{{ customer.address_billing.city }}, {{ customer.address_billing.province }} {{
								customer.address_billing.postal_code }}<br />
								{{ customer.website }}<br />
								{{ customer.email }}<br />
								{{ customer.phone_number }}<br />
							</td>

						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table cellpadding="0" cellspacing="0">

			<tr class="heading">
				<td>Item</td>
				<td>Quantity</td>
				<td>Unit Price</td>
				<td>Amount</td>
			</tr>

			{% for item in line_items %}
			<tr class="item">
				<td>{{ item.item_info }}</td>
				<td>{{ item.quantity }}</td>
				<td>{{ item.unit_price_formatted }}</td>
				<td>{{ item.total_price_formatted }}</td>
			</tr>
			{% endfor %}

			<tr class="subtotal">
				<td></td>
				<td></td>
				<td>Subtotal</td>
				<td>{{ subtotal }}</td>
			</tr>

			<tr class="heading">
				<td></td>
				<td></td>
				<td>Tax Rate</td>
				<td>Tax Amount</td>
			</tr>

			<tr class="item">
				<td></td>
				<td></td>
				<td>HST Canada {{tax_rate}}%</td>
				<td>{{ tax_total }}</td>
			</tr>

		</table>

		<table cellpadding="0" cellspacing="0">

			<tr class="total">
				<td>Total Due</td>
				<td>{{ total }}</td>
			</tr>

		</table>

	</div>
</body>

</html>